/* --- --- DRUPAL CSS piratenhagenlsa */

/* --- BODY - hatch 2009-10-04 */
body {
	background: #e5edf3 url(images/hintergrund.png) repeat-x;
	font: 8pt Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active, a.active {
  color: black;
}

h1 {
        line-height: 130%;
}

h2 {
	color: darkorange;
	font-size: 18pt;
}

h2.pagetitle {
	color: black;
	text-decoration: none;
	font-size: 14pt;
	font-weight: bold;
	letter-spacing: 0.02em;
	line-height: 125%;
}

/* --- TOPLINKS - hatch 2009-10-05 */
#toplinks-alt {
	background: url(images/kopfzeile2.png);
	height: 30px;
	width: 964px;
	margin-top: 30px;
}

#toplinks {
	background: url(images/kopfzeile.png);
	height: 65px;
	margin: 0;
	text-align: left;
	width: 964px;
}
.toplinkstext {
	margin: 0;
	padding: 0;
}

.toplinkstext div.menubutton {
	float: left;
	text-align: center;
	width: 110px;
	padding: 12px 0 0 7px;
	margin-left: 0px;
	margin-top: 5px;
	height: 28px;
}

.toplinkstext div.first {
	margin-left: 15px;
}

.toplinkstext div.active {
	background: #F89728 url(images/blickfang_toplinks.png) bottom center no-repeat;
}

.toplinkstext div.menubutton:hover {
        background: #F89728 url(images/blickfang_toplinks.png) bottom center no-repeat;
}

.toplinkstext a {
	color: white;
	font: 13px Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
	text-decoration: none;
	font-weight: bold;
}

#oben {
	margin-bottom: 25px;
	margin-left: 15px;
	padding-top: 15px;
}

#con-oben {
	padding-right: 10px;
	padding-left: 30px;
	padding-bottom: 40px;
}

#heimathafen {
	position: relative;
	float: right;
	margin: 0;
	padding: 0;
}
#heimathafen ul.menu {
	text-align: right;
	width: 964px;
}
#heimathafen ul.menu li {
	background: url(images/blickfang_heimathafen.png) no-repeat top center;
	display: inline;
	font-size: 12px;
	font-weight: bold;
	line-height: 34px;
	margin: 0;
	padding: 0 10px;
	padding-top: 10px;
}
#heimathafen ul.menu li a:hover {
	color: black;
	text-decoration: underline;
}
#heimathafen ul.menu li a.active {
	color: black;
}
#container { border: 0px; width: 964px;  background-image: url(images/bcontainer.gif); vertical-align: top}
#links {
	float: left;
	width: 198px;
	padding-left: 10px;
	padding-right: 10px;
}
#mitte {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
	width: 508px;
}
#rechts {
	float: left;
	width: 198px;
	padding-left: 10px;
	padding-right: 10px;
}
#unten {
	background-image: url(images/bcontainerunten.png);
	height: 30px;
	width: 964px
} 

#frontpageteaser {
	margin-bottom: 40px;
	width: 500px;
}
#frontpageteaser ul.menu {
	text-align: center;
}


#frontpageteaser ul.menu li {
	background: url(images/teasermenu.png) no-repeat center;
	display: -moz-inline-box; /* FF before v3 solved */
	display: inline-block;
	font-weight: bold;
	height: 41px;
	line-height: 38px;
	margin: 6px 11px 0 11px;
	padding: 0px 0 0 44px;
	text-align: left;
	width: 95px;
}
/* IE6 solved */
* html #frontpageteaser ul.menu li {
	display: inline;
}
/* IE7 solved */
*+ html #frontpageteaser ul.menu li {
	display: inline;
}

#frontpageteaser ul.menu li a:hover {
	color: black;
	text-decoration: underline;
}
#frontpageteaser ul.menu li a:before {
	content: url(images/inline-more-link-before.png);
}
#frontpageteaser ul.menu li a.active {
	color: darkorange;
}
#frontpageteaser ul.menu li a.active:before {
	content: url(images/inline-link-before.png);
}

/* --- BLOCK - hatch 2009-10-02 */
.block {
	margin-bottom: 14px;
	width: 198px;
}

.block .frame {
	height: 6px;
}

.blockkopf {
	/*height: 36px; #### 52px; */
	background-position: bottom center;
	background-repeat: no-repeat;
}

.blockinhalt {
        border-left: 1px solid #e6eef4;
	border-right: 1px solid #e6eef4;
	color: black;
	font-size: 8.5pt/125%;
	padding-top: 8px;
	padding-bottom: 3px;
	text-align: left;
	width: 196px;
}
.blockinhalt a {
	border: 0;
	color: black;
	text-decoration: none;
}
.blockinhalt a:hover {
	color: darkorange;
	text-decoration: underline;
}
.blockinhalt p {
	margin: 0 0.3em 4px 6px;
	padding: 0 4px;
}
/*.blockinhalt p a:before {
	content: url(images/inline-link-before.png);
}*/
/*.blockfuss {
	height: 6px;
}*/
.blockfuss2 {
	background: #e6eef4 bottom left no-repeat url(images/bottom_more_inv.png);
	height: 6px;
}

/* --- BLOCK/Navigation - hatch 2009-10-18 */
#block-menu-91 {
	margin-bottom: 20px;
	width: 198px;
}
#block-menu-91 div.blockkopf {
	display: none;
}
#block-menu-91 div.blockinhalt {
	border: 0;
	padding-bottom: 0;
}
#block-menu-91 div.blockinhalt ul.menu {
	margin-top: -8px;
}
#block-menu-91 div.blockinhalt ul.menu li ul.menu {
	margin-top: 0;
}
#block-menu-91 div.blockfuss {
	background: #e6eef4 bottom right no-repeat url(images/bottom_more_inv.png);
	height: 6px;
	width: 196px;
}
#block-menu-91 ul.menu {
	margin-bottom: -6px;
}
#block-user-1 div.blockinhalt {
	padding-bottom: 0;
}
#block-user-1 div.blockfuss {
	background: #e6eef4 bottom left no-repeat url(images/bottom_more_inv.png);
	height: 6px;
}
#block-user-1 ul.menu {
	margin-bottom: -6px;
}

/* --- BLOCK/Teaser - hatch 2009-10-02 */
#block-views-TeaserLinks div.blockinhalt {
	border: 0;
	margin-left: 0px;
	padding: 0;
	width: 198px;
}
#block-views-TeaserRechts div.blockinhalt {
	border: 0;
	margin-left: 0px;
	padding: 0;
	width: 198px;
}
.view-content-TeaserLinks img {
	margin-top: 12px;
}
.view-content-TeaserLinks img.first {
	margin-top: 0;
}
.view-content-TeaserRechts img {
	margin-top: 12px;
}
.view-content-TeaserRechts img.first {
	margin-top: 0;
}

/* --- BLOCK/Netzwerke - hatch 2009-10-10 */
.view-content-Netzwerke {
	text-align: center;
}
.view-content-Netzwerke img {
	margin: 3px 5px;
}

/* --- BLOCK/Quotes - hatch 2009-11-18 */
.haupttext .block-quotes {
	font-size: 9pt;
}
.block-quotes {
	font-size: 8.5pt;
        margin: 0 0.3em 4px 6px;
	padding: 0 4px;
}
.block-quotes q:before {
	color: dimgray;
	content: '»';
}
.block-quotes q:after {
	color: dimgray;
	content: '«';
}
.block-quotes cite {
	color: dimgray;
	display: block;
	font-style: italic;
	margin-top: 1em;
	text-align: right;
}
.block-quotes cite:before {
	content: '– ';
}
.haupttext .block-quotes acronym {
}
.block-quotes acronym {
	font-size: 6pt;
	letter-spacing: 0.15em;
	padding-left: 0.15em;
}

/* --- VIEW/Crewsprecher - hatch 2009-11-13 */
.marker {
	color: darkorange;
	font-size: 10px;
}
.view-content-Crewsprecher table {
	border-spacing: 0;
	font-size: 12px;
	border-bottom: 3px solid dimgrey;
	border-collapse: collapse;
}
.view-content-Crewsprecher table th {
	border-bottom: 3px solid dimgrey;
}
.view-content-Crewsprecher table th.view-field-node-title {
	width: 100px;
}
.view-content-Crewsprecher table td.view-field-node-created {
	color: dimgrey;
	font-size: 10px;
	text-align: right;
	width: 60px;
}
.view-content-Crewsprecher table tr {
	border-bottom: 1px solid lightgrey;
}
.view-content-Crewsprecher table td {
	background-color: white;
	padding: 2px;
	vertical-align: top;
}
.view-content-Crewsprecher table a {
	color: black;
	text-decoration: none;
}
.view-content-Crewsprecher table tbody td.view-field-node-title a {
	color: dimgrey;
	font-weight: bold;
}
.view-content-Crewsprecher table tbody td.view-field-node-title a:hover {
	text-decoration: underline;
}
.view-content-Crewsprecher table tbody td.view-field-node-body a:before {
	content: url(images/inline-link-before.png);
}
.view-content-Crewsprecher table tbody td.view-field-node-body a:hover {
	color: darkorange;
	text-decoration: underline;
}
.view-footer-Crewsprecher a {
	color: black;
	text-decoration: none;
}
.view-footer-Crewsprecher a:before {
	 content: url(images/inline-link-before.png);
}
.view-footer-Crewsprecher a:hover {
	color: darkorange;
	text-decoration: underline;
}
.block .view-label-node-title {
	display: none;
}
.block .view-label-node-body {
	display: none;
}
.block .view-data-node-created {
	display: none;
}
.view-data-node-title {
	margin-right: 0.25em;
}
.view-content-Crewsprecher .view-data-node-title a {
	font-weight: bold;
}
.view-data-node-body a:before {
	content: url(images/inline-link-before-single.png);
}

/* --- BLOCK/Intern - hatch 2009-11-19 */
.block .view-Intern .view-content-Crewsprecher .view-data-node-title {
	display: inline;
	float: left;
}
.block .view-Intern .view-content-Crewsprecher .view-data-node-title a {
	font-weight: normal;
}
.block .view-Intern .view-content-Crewsprecher .view-data-node-body:before {
	content: '– ';
}
.block .view-Intern .view-content-Crewsprecher .view-data-node-body {
	block: inline;
}
.block .view-data-node-body a:before {
	content: url(images/inline-link-before-single.png);
}
.block .view-Intern .view-content-Crewsprecher .marker {
	float: right;
	margin-left: 0.25em;
}

/* --- BLOCK/Weiterlesen - hatch 2009-11-10 */
.block .no-more-link {
	background: top center no-repeat url(images/block-no-more.png);
	height: 6px;
}
.block .more-link {
	background: #e6eef4 top center no-repeat url(images/pfeil_more_inv.png);
	border: 0;
	font-size: 9pt;
	font-weight: bold;
	height: 35px;
	line-height: 46px;
	padding-left: 10px;
	text-align: left;
}
.block .more-link a {
	color: dimgray;
	text-decoration: none;
}
.block .more-link a:hover {
	color: black;
	text-decoration: underline;
}
.block .more-link a:before {
	content: url(images/inline-more-link-before.png);
}

/* --- BLOCK/Fernrohr - hatch 2009-11-21 */
#block-aggregator-category-2 {
	margin-bottom: 0;
}
#block-aggregator-category-2 .blockfuss2 {
	border-right: 1px solid #e6eef4;
	
}
#block-aggregator-category-4 .blockkopf {
	display: none;
}

/* --- BLOCK/Listen - hatch 2009-10-02 */
.block .item-list {
	padding-left: 10px;
	padding-right: 4px;
}
.block .item-list ul {
	margin-left: -11px;
	padding-top: 0.15em;
}
.block .item-list ul li {
	padding-right: 0.3em;
	list-style-image: url(images/leaf.png);
	padding-top: 0.15em;
}

/* --- BLOCK/Spenden - hatch 2009-11-28 */
.block .view-spenden {
	padding: 0 8px;
}


.spende {
	border: 2px solid #e6eef4;
	display: -moz-inline-box; /* FF before v3 solved */
	display: inline-block;
	line-height: 16px;
	overflow: hidden;
	text-align: right;
}
/* IE6 solved */
* html .spende {
	display: inline;
}
/* IE7 solved */
*+ html .spende {
	display: inline;
}

.spende-l {
	 background-color: darkorange;
	 border-right: none;
	 color: white;
}
.spende-r {
	background-color: #e6eef4;
	border-left: none;
	color: dimgray;
	float: right;
}
.spende-text {
	border: none;
	width: 100%;
}

/* --- BREADCRUMB - hatch 2009-10-06 */
.breadcrumb {
	margin: 0 0 2em 0;
	padding: 0;
}
.breadcrumb a {
	color: black;
	text-decoration: none;
	padding-left: 5px;
}
.breadcrumb a:before {
	content: url(images/inline-link-before.png);
}
.breadcrumb a:hover {
	color: darkorange;
	text-decoration: underline;
}
.breadcrumb a.active {
	color: darkorange;
	font-weight: bold;
}

/* --- MENU - hatch 2009-11-14 - Christoph Giesel http://www.piraten-lsa.de/design/ */
ul.menu {
	font-size: 12px;
	padding: 0; margin: 0;
	margin-left: -6px;
	margin-bottom: -3px;
}
ul.menu li {
	background-color: #e6eef4;
	line-height: 20px;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	margin-bottom: 2px;
	padding-bottom: 1px;
	padding-left: 22px;
}
ul.menu li.leaf {
	background: #e6eef4 left 11px no-repeat url(images/leaf.png);
        list-style-type: none; 
        list-style-image: none; 
        list-style-position: outside;
}
ul.menu li.collapsed {
	background: #e6eef4 left 11px no-repeat url(images/leaf.png);
        list-style-type: none; 
        list-style-image: none; 
        list-style-position: outside;
}
ul.menu li.expanded {
	background: #e6eef4 left 8px no-repeat url(images/leaf_menu_expanded.png);
	padding-bottom: 4px;
        list-style-type: none; 
        list-style-image: none; 
        list-style-position: outside;
}
li.expanded {
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
}
ul.menu li a {
	color: black;
	text-decoration: none;
}
ul.menu li a:hover {
	color: darkorange;
	text-decoration: none;
}
ul.menu li a.active {
	color: darkorange;
	font-weight: bold;
}
ul.menu li ul.menu {
	margin-left: -13px;
	margin-top: 2px;
	padding-bottom: 6px;
}
ul.menu li ul.menu li {
	line-height: 14px;
        list-style-type: none; 
        list-style-image: none; 
        list-style-position: outside;
}
ul.menu li ul.menu li.leaf {
	background: #e6eef4 left 8px no-repeat url(images/leaf.png);
        list-style-type: none; 
        list-style-image: none; 
        list-style-position: outside;
}
ul.menu li ul.menu li.collapsed {
	background: #e6eef4 left 8px no-repeat url(images/leaf.png);
        list-style-type: none; 
        list-style-image: none; 
        list-style-position: outside;
}
ul.menu li ul.menu li.expanded {
	background: #e6eef4 left 5px no-repeat url(images/leaf_menu_expanded.png);
        list-style-type: none; 
        list-style-image: none; 
        list-style-position: outside;
}
ul.menu li ul.menu li ul.menu {
	padding-bottom: 1px;
	padding-top: 3px;
}

.tabs {
	font-size: 12px;
}
.tabs a {
	color: black;
}
.tabs a:hover {
	background: none;
	color: orange;
}
.tabs a.active {
	color: darkorange;
	font-weight: bold;
}

.clr { clear: both; }


div.nodeTags {
	background-color: #E6EEF4;
	margin-top: 20px;
	padding: 6px 8px;
}

div.nodeTags a {
	color: gray;
	text-decoration: none;
}

div.nodeTags a:hover {
        text-decoration: underline;
}

ul.tags {
	margin: 0;
	padding: 0;
}

ul.tags li {
	float: left;
	/*list-style-image: url("images/inline-link-before-single.png");*/
	/*list-style-position: inside;*/
	list-style-type: none;
	padding: 0 0.4em;
}

/* --- NODE/Metainformationen - hatch 2009-11-11 */
div.nodeLinks div.nodeMeta {
	color: grey;
	float: right;
	font-size: 8pt;
	padding: 6px 15px 8px;
}
div.nodeLinks div.nodeMeta a {
	color: grey;
	text-decoration: none;
}
div.nodeLinks div.nodeMeta a:hover {
	color: darkorange;
	text-decoration: underline;
}
div.nodeLinks div.nodeMeta a:before {
	content: url(images/inline-link-before-single.png);
}

/* --- NODE/Links - hatch 2009-12-21 */
div.nodeLinks {
	margin-top: 20px;
}

div.nodeLinks div.comment_left {
	background: #e6eef4 url(images/comment_left.png) no-repeat top left;
	float: left;
	height: 11px;
	padding: 8px 0 8px 8px;
	width: 22px;
}
div.nodeLinks div.comment_right {
	background: #e6eef4 url(images/comment_right.png) no-repeat top right;
	padding: 7px 15px 7px 0;
	float: left;
	color: grey;
}

div.nodeLinks div.readmore {
	padding: 6px 15px 8px 15px;
	float: left;
}

div.nodeLinks a {
	color: gray;
	text-decoration: none;
}
div.nodeLinks a:hover {
	text-decoration: underline;
}

/* --- NODE/Title - hatch 2009-10-04 */
div.nodeTitle {
	margin-top: 0px;
}
.nodeTitle {
	color: darkorange;
	font-size: 18px;
	font-weight: bold;
	line-height: 125%;
	letter-spacing: 0.02em;
	text-decoration: none;
}
a.nodeTitle:hover {
	text-decoration: underline;
}

.nodeTitle acronym {
	font-size: 17px;
	letter-spacing: 0.1em;
}

/* --- NODE/Text - hatch 2009-10-02 */
.haupttext {
	color: #000000;
	font-size: 10pt;
	line-height: 140%;
	/*margin: 1em 0 2em 0;*/
	text-align: left;
}
.haupttext a {
	color: #df7026;
	text-decoration: none;
}
/*.haupttext a:before {
	content: url(images/inline-link-before.png);
}*/
.haupttext a:hover {
	color: darkorange;
	text-decoration: underline;
}

.haupttext h2 {
	color: darkorange;
	/*margin-top: 40px;*/
	font-size: 14pt;
}

.haupttext acronym {
	font-size: 7pt;
	letter-spacing: 0.1em;
	padding-left: 0.15em;
}

.haupttext p {
	margin: 1em 0;
}

/* --- PAGER - hatch 2009-11-11 */
.pager {
	background: #e6eef4 url(images/commentblock_top.png) no-repeat top center;
	font-size: 9pt;
	font-weight: bold;
	height: 20px;
	line-height: 27px;
	text-align: center;
	width: 500px;
	clear: both;
}
.pager a {
	color: dimgray;
	text-decoration: none;
	padding: 0.5em;
}
.pager a:hover {
	color: black;
	text-decoration: underline;
}
.pagerseparator {
	background: #e6eef4 url(images/commentblock_bottom.png) no-repeat bottom center;
	height: 6px;
	width: 500px;
}

/* --- AGGREGATOR/Page - hatch 2009-10-11 */
/*.feed-item {
	padding-bottom: 1em;
}
.feed-item-title a {
	color: darkorange;
	font-size: 22px;
	font-weight: bold;
	line-height: 125%;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.feed-item-title a:hover {
	text-decoration: underline;
}
.feed-item-categories {
	display: none;
}
.feed-item-meta {
	display: none;
}
.feed-item-body {
	font-size: 9pt;
	line-height: 140%;
	margin: 1em 0 0 0;
}
.feed-item-body a {
	color: black;
	text-decoration: none;
}
.feed-item-body a:before {
	content: url(images/inline-link-before.png);
}
.feed-item-body a:hover {
	color: darkorange;
	text-decoration: underline;
}*/
.feed-item-body {
        color: #000000;
        font-size: 9pt;
        line-height: 140%;
        margin: 1em 0 2em 0;
        text-align: left;
}
.feed-item-body a {
        color: #df7026;
        text-decoration: none;
}
.feed-item-body a:hover {
        color: darkorange;
        text-decoration: underline;
}

#aggregator .feed-item-title {
        color: darkorange;
        font-size: 18px;
        font-weight: bold;
        line-height: 125%;
        letter-spacing: 0.02em;
        text-decoration: none;
}
#aggregator a.feed-item-title:hover {
        text-decoration: underline;
}

/* --- USER/Login - hatch 2009-11-24 */
#block-user-0 form label {
	padding-left: 8px;
}
#block-user-0 form {
	text-align: left;
}
#block-user-0 .form-submit {
	margin-left: 8px;
}
#block-user-0 .form-text {
	margin-left: 8px;
	width: 180px;
}
.form-item label {
	color: black;
	font-size: 12px;
}
.form-item label:before {
	content: url(images/inline-link-before.png);
}
.form-item label.option:before {
	content: none;
}
.form-required {
	color: darkorange;
	font-size: 18px;
	line-height: 12px;
}
.form-text {
	background-color: #e6eef4;
	border: 1px solid #BBBBBB;
	font-size: 10pt;
	width: 95%;
}
.resizable-textarea {
	width: 95%;
}
.form-textarea {
	background-color: #e6eef4;
	border: 1px solid #BBBBBB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	/*height: 56pt;*/
	line-height: 160%;
	width: 95%;
}
.form-item div.description {
	color: dimgray;
	font-size: 8.5pt;
	font-weight: normal;
	line-height: 140%;
}
.form-submit {
}
/*fieldset {
	border: none;
	color: dimgray;
	font-size: 11pt;
	font-weight: bold;
	padding: 0;
}*/

.description {
	line-height: 150%;
	margin-bottom: 0.75em;
	color: dimgray;
	font-size: 8pt;
	font-weight: normal;
}

/*Fuss Tilli 18.11.2009*/

#fussoben {
	width: 954px;
	background-image: url(images/fussoben.png);
	height: 30px;
	text-align: left;
	line-height: 30px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 10px;
	margin-top: 30px
}
     
#fussmitte {
	border: 0;
	color: dimgrey;
	width: 964px;
	background-image: url(images/fusscontainer.gif);
	vertical-align: top;
	font-size: 11pt;
	font-weight: bold;
}
#fussmitte ul.menu {
	margin-left: 1px;
	margin-top: 4px;
}
#fussmitte ul.menu li {
	background-image: url(images/inline-link-before.png);
	background-position: left 5px;
	line-height: 12pt;
	margin: 0;
	padding-bottom: 0;
	padding-left: 11px;
	padding-top: 0;
}
#fussmitte ul.menu li ul.menu {
	margin-top: 0;
	margin-bottom: 1px;
	padding-bottom: 0;
}
#fussmitte ul.menu li ul.menu li {
	line-height: 12pt;
}
		
#fussmitte a {
	font-size: 8pt;
	font-weight: normal;
}
#fussmitte a.active {
	font-weight: bold;
}
#fussunten { background-image: url(images/fusscontainerunten.png); height: 30px; width: 964px}

#fussl {
	width: 203px;
	padding-left: 14px;
	padding-right: 10px;
	float: left;
}
#fusslm {
	width: 236px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	text-align: left
}
#fussrm {
	width: 220px;
	float: left;
	padding-left: 10px;
	padding-right: 11px;
	text-align: left;
}
#fussr {
	width: 220px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	text-align: left
}

/* NODE/Comments - hatch 2009-12-21 */
div.comment {
	background: #e6eef4;
	font-size: 9pt;
	margin-bottom: 10px;
	padding: 3px 8px 10px 8px;
	/*width: 484px;*/
}
div.commentBlock div.comment_left {
	color: dimgray;
	display: -moz-inline-box; /* FF before v3 solved */
	display: inline-block;
	float: left;
	font-weight: bold;
	padding: 0;
	text-align: center;
	/*width: 85px;*/
}
/* IE6 solved */
* html div.commentBlock div.comment_left {
	display: inline;
}
/* IE7 solved */
*+ html div.commentBlock div.comment_left {
	display: inline;
}

div.commentBlock div.comment_left img {
	margin-bottom: 9pt;
	max-width: 65px;
}
div.commentBlock div.comment_right {
	display: -moz-inline-box; /* FF before v3 solved */
	display: inline-block;
	/*float: right;*/
	/*width: 390px;*/
}
/* IE6 solved */
* html div.commentBlock div.comment_right {
	display: inline;
}
/* IE7 solved */
*+ html div.commentBlock div.comment_right {
	display: inline;
}

div.commentBlock h6 {
	font-size: 9pt;
	margin: 0;
}
div.commentBlock a {
	color: black;
	text-decoration: none;
}
div.commentBlock a:before {
	content: url(images/inline-link-before.png);
}
div.commentBlock a:hover {
	color: darkorange;
	text-decoration: underline;
}
div.commentSeparator {
	background: #e6eef4 url(images/commentblock_bottom.png) no-repeat bottom center;
	color: gray;
	font-size: 8.5pt;
	height: 12px;
	margin-bottom: 4.5pt;
	padding: 4px 8px;
	text-align: right;
	/*width: 484px;*/
}

.title {
	color: darkorange;
	font: bold 13pt Arial, Helvetica, sans-serif;
	letter-spacing: 0.02em;
	text-decoration: none;
}
a.title:hover {
	text-decoration: underline;
}

/* --- FUSSLINIE - hatch 2009-11-16 */
#fusslinie {
	color: grey;
	font-size: 9pt;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
}

#serverinfo {
	font-size: 8pt;
}

#fusslinie a {
	color: grey;
	text-decoration: none;
}
#fusslinie a:hover {
	color: black;
	text-decoration: underline;

}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

/* --- --- Direktes HTML-Editieren in allen Inhalten - hatch 2009-11-24 */

/* --- Linkpfeile - hatch 2009-10-02 */
.singlequotelinks a:before {
	content: url(images/inline-link-before-single.png) !important;
}
a.singlequotelinks:before {
	content: url(images/inline-link-before-single.png) !important;
}
.noquotes a:before {
	content: none !important;
}
a.noquotes:before {
	content: none !important;
}

/* --- FARBSCHEMA: Grau */
.dimgray {
	color: dimgray;
}
.dimgray a {
	color: dimgray;
	text-decoration: none;
}
.dimgray a:before {
	content: url(images/inline-more-link-before.png);
}
.dimgray a:hover {
	color: black;
	text-decoration: underline;
}
ul.secondary-links {
  margin: 0;
  margin-top: 70px;
  margin-right: 20px;
  padding: 18px 0 0;
  float: right;
  clear: right;
  position: relative;
  z-index: 4;
  white-space: normal;
}

ul.secondary-links li {
  margin: 0;
  padding: 0;
  float: left;
  background-image: none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: black;
  background: transparent;
  font-size: 12px;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
  color: black;
  background: transparent;
  font-size: 12px;
}

ul.secondary {
  white-space: normal;
  border: 0;
}

ul.secondary li {
  border: 0;
  display: list-item;
  list-style-type: none;
  padding: 2px;
}

ul.secondary li a {
  border: 1px solid #BBBBBB;
}

ul.secondary li.active a {
  border: 1px solid #BBBBBB;
}

td.views-field {
  padding: 5px;
}

a.acta {
  position: relative;
  top: -20px;
}

a.acta:hover {
  background: none;
}

.node {
  margin-bottom: 30px;
}

.sticky {
  border: 1px dashed #B4C5D0;
  padding: 1em 2em;
}

#mitte .calendar-calendar .month-view table {
	table-layout: fixed;
	word-wrap: break-word;
}

#mitte .calendar-calendar .month-view table .week {
	width: 15px;
	text-align: center;
	vertical-align: middle;
}

#sidebarr .date-prev {
	display: none;
}

#sidebarr .date-heading {
	width: 100%;
}

#sidebarr .date-next {
	display: none;
}

table .mini-day-on a {
	color: darkorange;
}


.schatten {
  clear: both;
  float: left;
  background: url(images/schattenalpha.png) no-repeat bottom right !important;
  background: url(images/schatten.gif) no-repeat bottom right;
  margin: 10px 0 10px 17px !important;
  margin: 10px 0 10px 8px;
}

.schatten img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
}
.clear {
  clear:both;
  line-height:0;
}

.nodeCC {
  padding: 6px 15px 8px 0;
  float: left;
  margin-left: 20px;
}

.nodeCC img {
  margin-right: 3px;
}

.flattr-box {
  padding: 3px 15px 0 0;
}

.block-tagadelic .blockinhalt {
  padding-left: 8px;
  padding-right: 8px;
  width: 180px;
}

.creativecommons {
  background-color: #E6EEF4;
  padding: 10px 8px;
}

.creativecommons p {
  margin: 0;
}

table.dottedtable {
  border:1px dotted #CCCCCC;
  border-collapse:collapse;
}

table.dottedtable th {
  border:1px dotted #CCCCCC;
  border-collapse:collapse;
  padding:5px;
}

table.dottedtable td {
  border:1px dotted #CCCCCC;
  border-collapse:collapse;
  padding:5px;
}

table.dottedtable tbody {
  border-top: 0;
}

.indented {
	margin-left: 10px
}
